<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee>
    <header>
        <h1>Olá Mundo em Java com Spring!</h1>
    </header>
    </marquee>

    <div class="container">
        <span style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur molestias magnam, voluptatem quibusdam ea fugit reprehenderit minima tempora, enim perspiciatis nobis perferendis consequuntur. Harum voluptates modi veritatis aliquid fugiat!</span><br>
        
    </div>
</body>
</html>